.App {
  text-align: center;
}

.my-btn {
  color:rgb(166, 255, 0);
  background-color:rgba(0, 0, 0, 0.499);
  height:auto;
  width:8em;
  padding:10px;
  border:none;
border-radius: 8px;
}

.avatar {
  border-radius: 50%;
  border: 1px solid rgb(188, 185, 185);
}
